
.hema-title {
    text-align: center;
    margin-top: 0;
}

.sword-img {
    max-height: 100px;
}

.sword-img-reversed {
    max-height: 100px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.centered-video {
    padding: 1em 0;
    text-align: center;
}


