
.home-container {
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    height: 100dvh;
}

.home {
    margin: 3em 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 45%;
    min-width: 450px;
    height: auto;
    padding: 1em;
    border-radius: 1.5em;

    background-color: rgba(0, 0, 0, 0.6);

    @media only screen and (max-width: 1350px) {
        min-width: 0;
        width: auto;
        max-width: 80%;
    }

    @media only screen and (max-width: 800px) {
        max-width: 90%;
    }

    @media only screen and (max-width: 460px) {
        padding: .5em;
    }
}

.home-text {
    padding-left: 1em;
    padding-right: 1em;
    width: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home-centered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul li {
    margin-bottom: .5em;
}


