.App {
  position: absolute;
  top: 0;
  left: 0;
  
  background-image: url("./img/galaxy1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  backdrop-filter: blur(2px);
  height: stretch;
  height: -webkit-fill-available;

  height: 100vh;
  width: 100%;
  
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.centered {
  align-items: center;
  justify-content: center;
}

.slide {
  min-height: 100vh;
  width: 100%;
  /* outline: 2px solid red; */
}

.navslide {
  margin-top: 6.5rem;
  height: calc(100vh - 6.4rem);
}

.container {
  margin: 1em;
}

@media only screen and (max-width: 1024px) {
  .navslide {
    margin-top: 6.4rem;
    height: calc(94vh - 6.4rem);
  }
}

