.App {
  position: absolute;
  top: 0;
  left: 0;
  
  background-image: url("./img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  backdrop-filter: blur(2px);
  height: stretch;
  height: -webkit-fill-available;

  height: 100dvh;
  width: 100%;
  
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.centered {
  align-items: center;
  justify-content: center;
}

.slide {
  min-height: 100dvh;
  width: 100%;
  /* outline: 2px solid red; */
}

