.navbar {
    position: fixed;
    top: 1em;
    left: 1em;
    width: calc(100% - 2em);
    min-height: 2.4em;

    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transition: 0.5s;
}

.navlink-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transition: 0.5s;
    height: auto;
    max-height: 100vh;

    transform-origin: top;
}

.navLink {
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 0.2em;

    background-color: rgb(72, 0, 72);
    
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

    border-radius: 0.5em;
    min-width: 5em;

    transition: 0.5s;
}

.navLink:hover {
    background-color: purple;
    color: white;
}

.burger-container {
    display: none;
}


@media only screen and (max-width: 900px) {
    .burger-container {
        padding: 1rem;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    
    .burger-limit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 2rem;
    }
    
    .burger-line {
        padding: 3px;
        margin: 3px;
        background-color: white;
        border-radius: 1em;
    
        width: 100%;
    }

    .Navbar {
        justify-content: space-between;
    }

    .navlink-container:last-child {
        margin-bottom: 1em;
    }

    .navlink-container:last-child.hide {
        margin-bottom: 0em;
    }

    .hide {
        max-height: 0;
        overflow: hidden;
        transform: scaleY(0);
    }

    .fullOpacity {
        background-color: black;
    }
}