.cheatsheets-container {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
}

.utility {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
    margin: 1em;
    margin-top: 0;
    border-radius: 1em;
    text-align: center;

    width: calc(100vw - 3em);
    height: 75vh;

    justify-content: flex-start;
    align-items: center;
}

.cheatsheet-selector {
    border-radius: 1em;
    width: 60%;
    margin-bottom: 0.5em;
    
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.653);
    padding-top: 0.5em;
}

.cheatsheets-search {
    border-radius: 1em;
    margin-bottom: 1em;
    text-align: center;
    width: 20em;
    height: 1.5em;
    border-style: none;

}

.avaible-cheatsheets-container {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    //outline: 2px solid red
}
.avaible-cheatsheets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;

    //outline: 2px solid green
    
}

.avaible-cheatsheet-button {
    min-width: 9em;
    padding: 0.5em 0 0.5em 0;
    background-color: purple;
    color: white;
    border-radius: 1em;
    margin: 0 0.25em 0 0.25em;
    transition: 0.3s;
    margin-bottom: 1em;
    
}

.avaible-cheatsheet-button:hover {
    background-color:  rgb(162, 0, 162);
}

.cheatsheet-container {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.653);
    border-radius: 1em;
    height: calc(100% - 100px - 1em);
    padding: 0.5em;
}

@media only screen and (max-width: 900px) {
    .cheatsheet-selector {
        width: calc(100% - 0.25em);
    }

    .cheatsheets-search {
        width: calc(100% - 2em);
    }
    .cheatsheet-container {
        width: calc(100% - 1em);
    }
}